# =========================================================================== #
# TEMP EXCLUDES
# --------------------------------------------------------------------------- #

# =========================================================================== #

# =========================================================================== #
# Crazy Windows
# --------------------------------------------------------------------------- #
desktop.ini
# =========================================================================== #

# =========================================================================== #
# Archive folder
# --------------------------------------------------------------------------- #
x_Archives
# =========================================================================== #
